<div class="profile-container mat-elevation-z2">
    <mat-card class="profile-header">
      <h2>Welcome, {{ userName }}!</h2>
    </mat-card>
  
    <mat-card class="training-form">
      <h3>Add New Training</h3>
  
      <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Exercise Type</mat-label>
          <mat-select formControlName="exerciseType">
            <mat-option value="0">Cardio</mat-option>
            <mat-option value="1">Strength</mat-option>
            <mat-option value="2">Flexibility</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Duration (minutes)</mat-label>
          <input matInput type="number" max="60" formControlName="duration" />
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Calories Burned</mat-label>
          <input matInput type="number" formControlName="calories" />
        </mat-form-field>
        
        
        <label class="slider-label">Training Difficulty (1–10):  {{trainingForm.get('difficulty')?.value}}</label><br>
        <input min="1" max="10" type="range" id="slider" formControlName="difficulty"/><br>
  
        <label class="slider-label">Fatigue Level (1–10):  {{trainingForm.get('fatigue')?.value}}</label><br>
        <input min="1" max="10" type="range" id="slider" formControlName="fatigue"/><br><br>
  
        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <textarea matInput rows="3" formControlName="note"></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Date & Time</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
            <mat-label>Time</mat-label>
            <input matInput [ngxTimepicker]="time" formControlName="time" />
            <ngx-mat-timepicker #time></ngx-mat-timepicker>
          </mat-form-field> -->
  
        <button mat-raised-button color="primary" type="submit" [disabled]="trainingForm.invalid">
          Save Training
        </button>
      </form>
    </mat-card>
  
    <mat-card class="recent-trainings">
      <h3>Your Recent Trainings</h3>
      <mat-list>
        <mat-list-item *ngFor="let training of recentTrainings">
          <div mat-line>{{ reverseStatus(training) }} - {{ training.duration }} min - {{ training.calories }} kcal - on {{convertDate(training.date)}}</div>
          <div mat-line class="secondary">Fatigue: {{ training.fatigue }} | Intensity: {{ training.difficulty }}</div>
        </mat-list-item>
      </mat-list>
    </mat-card>
  
    <div class="progress-button">
      <button mat-stroked-button color="accent" routerLink="/progress">View Progress</button>
    </div>
  </div>
  